{% load static %}
<header class="site-header site-header--menu-right bg-default py-7 py-lg-0 site-header--absolute site-header--sticky">
      <div class="container">
        <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0 py-0">
          <!-- Brand Logo-->
          <div class="brand-logo">
            <a href="{% url 'core:home' %}">
              <!-- light version logo (logo must be black)-->
              <img src="{% static 'image/logo-main-black.png' %}" alt="" class="light-version-logo default-logo">
              <!-- Dark version logo (logo must be White)-->
              <img src="{% static 'image/logo-main-white.png' %}" alt="" class="dark-version-logo">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="mobile-menu">
            <div class="navbar-nav-wrapper">
              <ul class="navbar-nav main-menu">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'core:home' %}">خانه</a>
                </li>
                
                 <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown2" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">فایل ها<i class="icon icon-small-down"></i></a>
                  <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                    <li class="drop-menu-item dropdown">
                      <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown242" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       همه فایل ها
                        <i class="icon icon-small-down"></i>
                      </a>
                      <ul class="gr-menu-dropdown dropdown-menu dropdown-left" aria-labelledby="navbarDropdown242">
                        <li class="drop-menu-item">
                          <a href="{% url 'core:search' %}">
                          خرید فایل
                          </a>
                        </li>
                        
                      </ul>
                    </li>
                    
                  </ul>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="#">پشتیبانی</a>
                </li>
              </ul>
            </div>
            <button class="d-block d-lg-none offcanvas-btn-close focus-reset" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
              <i class="gr-cross-icon"></i>
            </button>
          </div>
            {% if user.is_authenticated %}
  <!-- اگر کاربر وارد شده باشد -->
  <div class="header-btn-devider ml-auto ml-lg-5 pl-2 d-none d-xs-flex align-items-center">
    
    <div>
      <div class="dropdown show-gr-dropdown py-5">
        <a class="proile media ml-7 flex-y-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="circle-40">
            <img src="{% static 'image/header-profile.png' %}" alt="">
          </div>
          <i class="fas fa-chevron-down heading-default-color ml-6"></i>
        </a>
        <div class="dropdown-menu gr-menu-dropdown dropdown-right border-0 border-width-2 py-2 w-auto bg-default" aria-labelledby="dropdownMenuLink">
          {% if user.is_staff %}
          <a class="dropdown-item py-2 font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="{% url 'core:dashboard_settings' %}">تنظیمات</a>
          {% endif %}
          <a class="dropdown-item py-2 font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="{% url 'core:dashboard_posted_jobs' %}">فایل های خریداری شده</a>
          <a class="dropdown-item py-2 text-red font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="{% url 'accounts:logout' %}">خروج</a>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <!-- اگر کاربر وارد نشده باشد -->
  <div class="header-btns header-btn-devider ml-auto pr-2 ml-lg-6 d-none d-xs-flex">
    <a class="btn btn-transparent text-uppercase font-size-3 heading-default-color focus-reset" href="javascript:;" data-toggle="modal" data-target="#login">
      ورود
    </a>
    <a class="btn btn-primary text-uppercase font-size-3" href="javascript:;" data-toggle="modal" data-target="#signup">
      ثبت نام
    </a>
  </div>
{% endif %}
          <!-- Mobile Menu Hamburger-->
          <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <i class="icon icon-simple-remove icon-close"></i> -->
            <span class="hamburger hamburger--squeeze js-hamburger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </span>
          </button>
          <!--/.Mobile Menu Hamburger Ends-->
        </nav>
      </div>
    </header>