{% extends "parent/base.html" %}

{% load static %}
{% block content %}

  <div class="site-wrapper overflow-hidden ">
    <!-- Header start  -->
    <!-- Header Area -->
    
    <!-- navbar- -->
    <!-- Login Modal -->
    <div class="modal fade form-modal" id="login" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog max-width-px-840 position-relative">
        <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper" data-dismiss="modal"><i class="fas fa-times"></i></button>
        <div class="login-modal-main bg-white rounded-8 overflow-hidden">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-6">
              <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
                <div class="pb-9">
                  <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
                    خوش آمدید 
                  </h3>
                  <p class="mb-0 font-size-4 text-white">برای ادامه حساب خود وارد شوید
                     و مشاغل جدید را کشف کنید.</p>
                </div>
                <div class="border-top border-default-color-2 mt-auto">
                  <div class="d-flex mx-n9 pt-6 flex-xs-row flex-column">
                    <div class="pt-5 px-9">
                      <h3 class="font-size-7 text-white">
                        295
                      </h3>
                      <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">مشاغل جدید
                         امروز ارسال شده</p>
                    </div>
                    <div class="pt-5 px-9">
                      <h3 class="font-size-7 text-white">
                        14
                      </h3>
                      <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">شرکت های جدید
                         ثبت شده</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-6">
              <div class="bg-white-2 h-100 px-11 pt-11 pb-7">
                {% if request.GET.login_error %}
                  <div class="alert alert-danger">شماره تلفن یا رمز عبور اشتباه است.</div>
                {% endif %}
                <form method="post" action="{% url 'accounts:login' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="login-phone" class="font-size-4 text-black-2 font-weight-semibold line-height-reset"> شماره تلفن</label>
                    <input type="text" class="form-control" name="phone" id="login-phone" placeholder="شماره تلفن">
                  </div>
                  <div class="form-group">
                    <label for="login-password" class="font-size-4 text-black-2 font-weight-semibold line-height-reset"> رمزعبور </label>
                    <div class="position-relative">
                      <input type="password" class="form-control" name="password" id="login-password" placeholder="رمزعبور را وارد کنید">
                      <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="login-password"></a>
                    </div>
                  </div>
                  <div class="form-group d-flex flex-wrap justify-content-between">
                    <label for="terms-check" class="gr-check-input d-flex  mr-3">
                      <input class="d-none" type="checkbox" id="terms-check">
                      <span class="checkbox mr-5"></span>
                      <span class="font-size-3 mb-0 line-height-reset mb-1 d-block">به خاطرسپاری رمزعبور</span>
                    </label>
                    <a href="#" class="font-size-3 text-dodger line-height-reset"> فراموشی رمزعبور  </a>
                  </div>
                  <div class="form-group mb-8">
                    <button class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase">ورود </button>
                  </div>
                  <p class="font-size-4 text-center heading-default-color"> اکانت ندارید؟  <a href="#" class="text-primary" data-toggle="modal" data-target="#signup" data-dismiss="modal">یک حساب کاربری رایگان ایجاد کنید</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sign Up Modal -->
    <div class="modal fade form-modal" id="signup" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog max-width-px-840 position-relative">
        <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-n6 mr-lg-n6 focus-reset shadow-10" data-dismiss="modal"><i class="fas fa-times"></i></button>
        <div class="login-modal-main bg-white rounded-8 overflow-hidden">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-6">
              <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
                <div class="pb-9">
                  <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
                   امروز یک حساب کاربری رایگان ایجاد کنید
                  </h3>
                  <p class="mb-0 font-size-4 text-white">حساب خود را برای ادامه ایجاد کنید
                     و مشاغل جدید را کشف کنید.</p>
                </div>
                <div class="border-top border-default-color-2 mt-auto">
                  <div class="d-flex mx-n9 pt-6 flex-xs-row flex-column">
                    <div class="pt-5 px-9">
                      <h3 class="font-size-7 text-white">
                        295
                      </h3>
                      <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">مشاغل جدید
                         امروز ارسال شده</p>
                    </div>
                    <div class="pt-5 px-9">
                      <h3 class="font-size-7 text-white">
                        14
                      </h3>
                      <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">شرکت های جدید
                         ثبت شده</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-6">
              <div class="bg-white-2 h-100 px-11 pt-11 pb-7">
                {% if request.GET.signup_error %}
                  <div class="alert alert-danger">
                    {% if request.GET.signup_error == 'empty' %}لطفاً تمام فیلدها را پر کنید.{% endif %}
                    {% if request.GET.signup_error == 'notmatch' %}رمز عبور و تکرار آن یکسان نیستند.{% endif %}
                    {% if request.GET.signup_error == 'exists' %}این شماره تلفن قبلاً ثبت شده است.{% endif %}
                    {% if request.GET.signup_error == 'fail' %}خطا در ثبت‌نام. لطفاً دوباره تلاش کنید.{% endif %}
                  </div>
                {% endif %}
                <form method="post" action="{% url 'accounts:signup' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="signup-firstname" class="font-size-4 text-black-2 font-weight-semibold line-height-reset"> نام </label>
                    <input type="text" class="form-control" name="first_name" id="signup-firstname" placeholder="نام">
                  </div>
                  <div class="form-group">
                    <label for="signup-lastname" class="font-size-4 text-black-2 font-weight-semibold line-height-reset"> نام خانوادگی </label>
                    <input type="text" class="form-control" name="last_name" id="signup-lastname" placeholder="نام خانوادگی">
                  </div>
                  <div class="form-group">
                    <label for="signup-phone" class="font-size-4 text-black-2 font-weight-semibold line-height-reset"> شماره تلفن </label>
                    <input type="text" class="form-control" name="phone" id="signup-phone" placeholder="شماره تلفن">
                  </div>
                  <div class="form-group">
                    <label for="signup-password1" class="font-size-4 text-black-2 font-weight-semibold line-height-reset"> رمزعبور </label>
                    <div class="position-relative">
                      <input type="password" class="form-control" name="password1" id="signup-password1" placeholder="رمزعبور را وارد کنید">
                      <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="signup-password1"></a>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="signup-password2" class="font-size-4 text-black-2 font-weight-semibold line-height-reset"> تایید رمزعبور </label>
                    <div class="position-relative">
                      <input type="password" class="form-control" name="password2" id="signup-password2" placeholder="رمزعبور را وارد کنید">
                      <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="signup-password2"></a>
                    </div>
                  </div>
                  <div class="form-group mb-8">
                    <button class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase">ثبت نام </button>
                  </div>
                  <p class="font-size-4 text-center heading-default-color"> اکانت دارید؟  <a href="#" class="text-primary" data-toggle="modal" data-target="#login" data-dismiss="modal">وارد شوید</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header start end -->
    <!-- Hero Area -->
    <div class="position-relative z-index-1 bg-squeeze pt-26 dark-mode-texts">
      <div class="pos-abs-tr h-100">
        <img src="{% static 'image/patterns/globe-pattern.png' %}" alt="" class="h-100">
      </div>
      <div class="container position-static">
        <div class="row position-relative align-items-center position-static">
          <div class="col-xxl-7 col-xl-8 col-lg-9 pt-lg-23 pb-lg-33 pb-md-28 pb-xs-26 pb-29 pt-md-20" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="row">
              <div class="col-xxl-8 col-xl-7 col-md-8 col-sm-10">
                <div class="text-primary font-size-5 font-weight-semibold mb-7">
                  #4923 شغل موجود همین حالا
                </div>
                <h1 class="font-size-11 mb-9 text-black-2">جذابترین شغل رو پیدا کن</h1>
                <p class="font-size-5">هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشت</p>
              </div>
            </div>
          </div>
          <!-- Hero Form -->
          <div class="col-lg-11 col-12 translateY-50 pos-abs-bl">
            <form action="https://uxtheme.net/" class="search-form" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
              <div class="filter-search-form-2 bg-white rounded-sm shadow-7 pr-8 py-7 pl-6">
                <div class="filter-inputs">
                  <div class="form-group position-relative">
                    <input class="form-control focus-reset pl-13" type="text" id="keyword" placeholder="عنوان شغل, کلید واژه">
                    <span class="h-100 w-px-50 pos-abs-tl d-flex align-items-center justify-content-center font-size-6"><i class="icon icon-zoom-2 text-primary font-weight-bold"></i></span>
                  </div>
                  <!-- .select-city starts -->
                  <div class="form-group position-relative">
                    <select name="country" id="country" class="nice-select pl-13 h-100 arrow-3 font-size-4">
                      <option data-display="شهر، موقعیت مکانی، ریموت">شهر</option>
                      <option value="">آمریکا</option>
                      <option value="">عربستان</option>
                      <option value="">بنگلادش</option>
                      <option value="">پاکستان</option>
                    </select>
                    <span class="h-100 w-px-50 pos-abs-tl d-flex align-items-center justify-content-center font-size-6"><i class="icon icon-pin-3 text-primary font-weight-bold"></i></span>
                  </div>
                  <!-- ./select-city ends -->
                </div>
                <div class="button-block">
                  <button class="btn btn-primary line-height-reset h-100 btn-submit w-100 text-uppercase">جستجو</button>
                </div>
              </div>
            </form>
          </div>
          <!-- End Hero Form -->
        </div>
      </div>
    </div>
    <!-- Hero Area -->
    <!-- category Area -->
    <div class="pb-13 pb-lg-25 bg-gradient-2">
      <!-- Company Area Start -->
      <div class="pt-29 pt-lg-30 pb-10 pb-lg-22">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title mb-9 text-center">
                <h5 class="font-size-5 font-weight-normal text-gray">
                  استخدام در بهترین شرکت ها
                </h5>
              </div>
            </div>
          </div>
          <!-- Brand Logos -->
          <div class="row align-items-center justify-content-center justify-content-lg-between gr-opacity-5">
            <!-- Single Brand -->
            <div class="single-brand-logo mx-5 my-6" data-aos="fade-in" data-aos-duration="800" data-aos-once="true">
              <img src="{% static 'image/l1/png/brand-light-logo-1.png' %}" alt="" />
            </div>
            <!-- Single Brand -->
            <div class="single-brand-logo mx-5 my-6" data-aos="fade-in" data-aos-duration="800" data-aos-delay="300" data-aos-once="true">
              <img src="{% static 'image/l1/png/brand-light-logo-2.png' %}" alt="" />
            </div>
            <!-- Single Brand -->
            <div class="single-brand-logo mx-5 my-6" data-aos="fade-in" data-aos-duration="800" data-aos-delay="500" data-aos-once="true">
              <img src="{% static 'image/l1/png/brand-light-logo-3.png' %}" alt="" />
            </div>
            <!-- Single Brand -->
            <div class="single-brand-logo mx-5 my-6" data-aos="fade-in" data-aos-duration="800" data-aos-delay="700" data-aos-once="true">
              <img src="{% static 'image/l1/png/brand-light-logo-4.png' %}" alt="" />
            </div>
            <!-- Single Brand -->
            <div class="single-brand-logo mx-5 my-6" data-aos="fade-in" data-aos-duration="800" data-aos-delay="900" data-aos-once="true">
              <img src="{% static 'image/l1/png/brand-light-logo-5.png' %}" alt="" />
            </div>
            <!-- Single Brand -->
            <div class="single-brand-logo mx-5 my-6" data-aos="fade-in" data-aos-duration="800" data-aos-delay="1200" data-aos-once="true">
              <img src="{% static 'image/l1/png/brand-light-logo-6.png' %}" alt="" />
            </div>
          </div>
          <!-- End Brand Logos -->
        </div>
      </div>
      <!-- Company Area End -->
      <div class="">
        <div class="container">
          <hr class="pt-13 pt-lg-20">
          <!-- Section Top -->
          <div class="row align-items-center justify-content-center">
            <!-- Section Title -->
            <div class="col-12 col-xl-6 col-lg-7 col-md-9">
              <div class="text-center mb-12 mb-lg-17">
                <h2 class="font-size-10 font-weight-bold mb-8">جستجو بر اساس دسته‌بندی</h2>
                <p class="font-size-5 px-5 px-lg-7 px-xl-9 px-xxl-15 mb-6">هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشت</p>
              </div>
            </div>
          </div>
          <!-- End Section Top -->
          <div class="row justify-content-center" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <!-- Single Category -->
            <div class="col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-8">
              <a href="#" class="bg-white border border-color-2 rounded-4 pl-5 pt-10 pb-3 px-2 hover-shadow-2 mb-9 d-block w-100 text-center">
                <div class="text-white bg-blue square-70 rounded-4 mb-7 font-size-7 text-center mx-auto">
                  <i class="fa fa-briefcase"></i>
                </div>
                <!-- Category Content -->
                <div class="">
                  <h5 class="font-size-5 font-weight-semibold text-black-2 line-height-1">توسعه تجاری</h5>
                  <p class="font-size-4 font-weight-normal text-gray"><span>415</span> ظرفیت</p>
                </div>
              </a>
            </div>
            <!-- End Single Category -->
            <!-- Single Category -->
            <div class="col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-8">
              <a href="#" class="bg-white border border-color-2 rounded-4 pl-5 pt-10 pb-3 px-2 hover-shadow-2 mb-9 d-block w-100 text-center">
                <div class="text-white bg-spray square-70 rounded-4 mb-7 font-size-7 text-center mx-auto">
                  <i class="fa fa-headset"></i>
                </div>
                <!-- Category Content -->
                <div class="">
                  <h5 class="font-size-5 font-weight-semibold text-black-2 line-height-1"> خدمات مشتری </h5>
                  <p class="font-size-4 font-weight-normal text-gray"><span>415</span> ظرفیت</p>
                </div>
              </a>
            </div>
            <!-- End Single Category -->
            <!-- Single Category -->
            <div class="col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-8">
              <a href="#" class="bg-white border border-color-2 rounded-4 pl-5 pt-10 pb-3 px-2 hover-shadow-2 mb-9 d-block w-100 text-center">
                <div class="text-white bg-coral square-70 rounded-4 mb-7 font-size-7 text-center mx-auto">
                  <i class="fa fa-layer-group"></i>
                </div>
                <!-- Category Content -->
                <div class="">
                  <h5 class="font-size-5 font-weight-semibold text-black-2 line-height-1"> توسعه</h5>
                  <p class="font-size-4 font-weight-normal text-gray"><span>415</span> ظرفیت</p>
                </div>
              </a>
            </div>
            <!-- End Single Category -->
            <!-- Single Category -->
            <div class="col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-8">
              <a href="#" class="bg-white border border-color-2 rounded-4 pl-5 pt-10 pb-3 px-2 hover-shadow-2 mb-9 d-block w-100 text-center">
                <div class="text-white bg-red square-70 rounded-4 mb-7 font-size-7 text-center mx-auto">
                  <i class="fa fa-pen-nib"></i>
                </div>
                <!-- Category Content -->
                <div class="">
                  <h5 class="font-size-5 font-weight-semibold text-black-2 line-height-1"> طراحی</h5>
                  <p class="font-size-4 font-weight-normal text-gray"><span>415</span> ظرفیت</p>
                </div>
              </a>
            </div>
            <!-- End Single Category -->
            <!-- Single Category -->
            <div class="col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-8">
              <a href="#" class="bg-white border border-color-2 rounded-4 pl-5 pt-10 pb-3 px-2 hover-shadow-2 mb-9 d-block w-100 text-center">
                <div class="text-white bg-orange square-70 rounded-4 mb-7 font-size-7 text-center mx-auto">
                  <i class="fa fa-rocket"></i>
                </div>
                <!-- Category Content -->
                <div class="">
                  <h5 class="font-size-5 font-weight-semibold text-black-2 line-height-1"> بازاریابی و مدیریت</h5>
                  <p class="font-size-4 font-weight-normal text-gray"><span>415</span> ظرفیت</p>
                </div>
              </a>
            </div>
            <!-- End Single Category -->
            <!-- Single Category -->
            <div class="col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-8">
              <a href="#" class="bg-white border border-color-2 rounded-4 pl-5 pt-10 pb-3 px-2 hover-shadow-2 mb-9 d-block w-100 text-center">
                <div class="text-white bg-yellow square-70 rounded-4 mb-7 font-size-7 text-center mx-auto">
                  <i class="fa fa-location-arrow"></i>
                </div>
                <!-- Category Content -->
                <div class="">
                  <h5 class="font-size-5 font-weight-semibold text-black-2 line-height-1"> مدیر فروش</h5>
                  <p class="font-size-4 font-weight-normal text-gray"><span>415</span> ظرفیت</p>
                </div>
              </a>
            </div>
            <!-- End Single Category -->
            <!-- Single Category -->
            <div class="col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-8">
              <a href="#" class="bg-white border border-color-2 rounded-4 pl-5 pt-10 pb-3 px-2 hover-shadow-2 mb-9 d-block w-100 text-center">
                <div class="text-white bg-turquoise square-70 rounded-4 mb-7 font-size-7 text-center mx-auto">
                  <i class="icon icon-sidebar-2"></i>
                </div>
                <!-- Category Content -->
                <div class="">
                  <h5 class="font-size-5 font-weight-semibold text-black-2 line-height-1">مدیریت پروژه</h5>
                  <p class="font-size-4 font-weight-normal text-gray"><span>415</span> ظرفیت</p>
                </div>
              </a>
            </div>
            <!-- End Single Category -->
            <!-- Single Category -->
            <div class="col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-8">
              <a href="#" class="bg-white border border-color-2 rounded-4 pl-5 pt-10 pb-3 px-2 hover-shadow-2 mb-9 d-block w-100 text-center">
                <div class="text-white bg-green square-70 rounded-4 mb-7 font-size-7 text-center mx-auto">
                  <i class="fa fa-user"></i>
                </div>
                <!-- Category Content -->
                <div class="">
                  <h5 class="font-size-5 font-weight-semibold text-black-2 line-height-1"> منابع انسانی </h5>
                  <p class="font-size-4 font-weight-normal text-gray"><span>415</span> ظرفیت</p>
                </div>
              </a>
            </div>
            <!-- End Single Category -->
          </div>
          <div class="row">
            <div class="col-12">
              <div class="text-center pt-5 pt-lg-13">
                <a class="btn btn-outline-black-2 btn-lg text-uppercase" href="#">جستجو همه</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- category Area -->
    <!-- ContentOne Area -->
    <section class="pt-13 pt-lg-30 pb-13 pb-lg-30">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 col-md-8 col-sm-10 col-xs-11 mb-9 mb-lg-0" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <!-- content-1 left-content start -->
            <div class="position-relative pr-lg-20 pr-xs-15 pr-9 ">
              <!-- content img start -->
              <img src="{% static 'image/l2/png/content-2-img1.png' %}" alt="" class="w-100">
              <!-- content img end -->
              <!-- abs-content start -->
              <div class="abs-content pos-abs-br bg-white shadow-2 pl-7 pt-8 pb-1 pr-11 max-width-px-311 rounded mb-15 mb-xs-18 mb-lg-15 mb-xl-18">
                <!-- media start -->
                <div class="media mb-5">
                  <!-- check-mark start -->
                  <span class="check-mark bg-yellow-2 circle-41">
                                    <i class="fas fa-check text-white  font-size-6"></i>
                                </span>
                  <!-- check-mark end -->
                  <!-- media body start -->
                  <div class="media-body pl-5">
                    <h6 class="mb-0 font-size-3 text-green text-uppercase">پیغام</h6>
                    <p class="mb-0 font-size-4 text-black-2">104 شغل جدید در این هفته موجود است!</p>
                  </div>
                  <!-- media body start -->
                </div>
                <!-- media end -->
              </div>
              <!-- abs-content end -->
            </div>
            <!-- content-1 left-content end -->
          </div>
          <div class="col-xl-5 col-lg-6 col-md-8 col-xs-10" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <!-- content-1 start -->
            <div class="content-1 pl-xl-5 pl-xxl-11 pr-xxl-10">
              <!-- content-1 section-title start -->
              <h2 class="font-size-9 mb-md-15 mb-13">به شما کمک میکنیم تا <br class="d-none d-sm-block">
                            بهترین شغل مناسب خود را بیاید</h2>
              <!-- content-1 section-title end -->
              <!-- media start -->
              <div class="media mb-11">
                <!-- media icon start -->
                <div class="media-icon px-6 py-5 bg-green-opacity-2 rounded-5">
                  <i class="icon icon-layout-11 text-green"></i>
                </div>
                <!-- media icon start -->
                <!-- media body start -->
                <div class="media-body pl-7">
                  <h5 class="mb-5 h5">#1 سایت کاریابی دنیا</h5>
                  <p class="mb-0 font-size-4 text-default-color">شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                </div>
                <!-- media body start -->
              </div>
              <!-- media end -->
              <!-- media start -->
              <div class="media mb-11">
                <!-- media icon start -->
                <div class="media-icon px-6 py-5 bg-yellow-2-opacity-2 rounded-5">
                  <i class="fa fa-search text-yellow-2"></i>
                </div>
                <!-- media icon start -->
                <!-- media body start -->
                <div class="media-body pl-7">
                  <h5 class="mb-5 h5">جستجوی یکپارچه</h5>
                  <p class="mb-0 font-size-4 text-default-color">شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                </div>
                <!-- media body start -->
              </div>
              <!-- media end -->
              <!-- media start -->
              <div class="media">
                <!-- media icon start -->
                <div class="media-icon px-6 py-5 bg-red-opacity-2 rounded-5">
                  <i class="fa fa-industry text-red"></i>
                </div>
                <!-- media icon start -->
                <!-- media body start -->
                <div class="media-body pl-7">
                  <h5 class="mb-5 h5">استخدام در بهترین شرکت ها</h5>
                  <p class="mb-0 font-size-4 text-default-color">صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد</p>
                </div>
                <!-- media body start -->
              </div>
              <!-- media end -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ContentOne Area -->
    <!-- featuredJobOne Area -->
    <section class="bg-athens pt-12 pt-lg-24 pb-7 pb-lg-25">
      <div class="container">
        <!-- Section Title -->
        <div class="row justify-content-center mb-lg-16 mb-11">
          <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-10 text-center">
            <h2 class="mb-6 mb-lg-7 text-black-2 font-size-10"> مشاغل جدید </h2>
            <p class="px-xs-3 px-md-12 px-lg-8 px-xl-8 px-xxl-6 font-size-5 mb-0">صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد</p>
          </div>
        </div>
        <!-- Section Title End -->
        <div class="row justify-content-center">
          <div class="col-xxl-9 col-xl-9 col-lg-10 mb-8" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <!-- Single Featured Job -->
            <div class="pt-9 px-xl-9 px-lg-7 px-7 pb-7 light-mode-texts bg-white rounded hover-shadow-3 ">
              <div class="row">
                <div class="col-md-6">
                  <div class="media align-items-center">
                    <div class="square-72 d-block mr-8">
                      <img src="{% static 'image/l2/png/featured-job-logo-1.png' %}" alt="">
                    </div>
                    <div>
                      <h3 class="mb-0"><a class="font-size-6 heading-default-color" href="#">طراح رابط و تجربه کاربری</a></h3>
                      <a href="#" class="font-size-3 text-default-color line-height-2">شرکت اپل</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-right pt-7 pt-md-5">
                  <div class="media justify-content-md-end">
                    <div class="image mr-5 mt-2">
                      <img src="{% static 'image/svg/icon-fire-rounded.svg' %}" alt="">
                    </div>
                    <p class="font-weight-bold font-size-7 text-hit-gray mb-0"><span
                        class="text-black-2">120-150میلیون</span> سالانه</p>
                  </div>
                </div>
              </div>
              <div class="row pt-8">
                <div class="col-md-7">
                  <ul class="d-flex list-unstyled mr-n3 flex-wrap">
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">طراح بصری</a>
                    </li>
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">وایرفریم </a>
                    </li>
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">اسکرام</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-5">
                  <ul class="d-flex list-unstyled mr-n3 flex-wrap mr-n8 justify-content-md-end">
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-loaction-pin-black.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">برلین، آمریکا</span>
                    </li>
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-suitecase.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">تمام وقت</span>
                    </li>
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-clock.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">9 روز قبل </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Single Featured Job -->
          </div>
          <div class="col-xxl-9 col-xl-9 col-lg-10 mb-8" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <!-- Single Featured Job -->
            <div class="pt-9 px-xl-9 px-lg-7 px-7 pb-7 light-mode-texts bg-white rounded hover-shadow-3 ">
              <div class="row">
                <div class="col-md-6">
                  <div class="media align-items-center">
                    <div class="square-72 d-block mr-8">
                      <img src="{% static 'image/l2/png/featured-job-logo-2.png' %}" alt="">
                    </div>
                    <div>
                      <h3 class="mb-0"><a class="font-size-6 heading-default-color" href="#">طراح رابط و تجربه کاربری</a></h3>
                      <a href="#" class="font-size-3 text-default-color line-height-2">شرکت اپل</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-right pt-7 pt-md-5">
                  <div class="media justify-content-md-end">
                    <div class="image mr-5 mt-2">
                      <img src="{% static 'image/svg/icon-fire-rounded.svg' %}" alt="">
                    </div>
                    <p class="font-weight-bold font-size-7 text-hit-gray mb-0"><span
                        class="text-black-2">120-150میلیون</span> سالانه</p>
                  </div>
                </div>
              </div>
              <div class="row pt-8">
                <div class="col-md-7">
                  <ul class="d-flex list-unstyled mr-n3 flex-wrap">
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">اجیل </a>
                    </li>
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">وایرفریم </a>
                    </li>
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#"> پروتاپینگ </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-5">
                  <ul class="d-flex list-unstyled mr-n3 flex-wrap mr-n8 justify-content-md-end">
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-loaction-pin-black.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">برلین، آمریکا</span>
                    </li>
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-suitecase.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">تمام وقت</span>
                    </li>
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-clock.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">9 روز قبل </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Single Featured Job -->
          </div>
          <div class="col-xxl-9 col-xl-9 col-lg-10 mb-8" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <!-- Single Featured Job -->
            <div class="pt-9 px-xl-9 px-lg-7 px-7 pb-7 light-mode-texts bg-white rounded hover-shadow-3 ">
              <div class="row">
                <div class="col-md-6">
                  <div class="media align-items-center">
                    <div class="square-72 d-block mr-8">
                      <img src="{% static 'image/l2/png/featured-job-logo-3.png' %}" alt="">
                    </div>
                    <div>
                      <h3 class="mb-0"><a class="font-size-6 heading-default-color" href="#">آی او اس دولوپر</a></h3>
                      <a href="#" class="font-size-3 text-default-color line-height-2">شاپیفای</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-right pt-7 pt-md-5">
                  <div class="media justify-content-md-end">
                    <div class="image mr-5 mt-2">
                      <img src="{% static 'image/svg/icon-fire-rounded.svg' %}" alt="">
                    </div>
                    <p class="font-weight-bold font-size-7 text-hit-gray mb-0"><span
                        class="text-black-2">100-120میلیون</span> سالانه</p>
                  </div>
                </div>
              </div>
              <div class="row pt-8">
                <div class="col-md-7">
                  <ul class="d-flex list-unstyled mr-n3 flex-wrap">
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">سویفت</a>
                    </li>
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">ابجکتیو سی</a>
                    </li>
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">ایکس کد</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-5">
                  <ul class="d-flex list-unstyled mr-n3 flex-wrap mr-n8 justify-content-md-end">
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-loaction-pin-black.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">برلین، آمریکا</span>
                    </li>
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-suitecase.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">تمام وقت</span>
                    </li>
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-clock.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">9 روز قبل </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Single Featured Job -->
          </div>
          <div class="col-xxl-9 col-xl-9 col-lg-10 mb-8" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <!-- Single Featured Job -->
            <div class="pt-9 px-xl-9 px-lg-7 px-7 pb-7 light-mode-texts bg-white rounded hover-shadow-3 ">
              <div class="row">
                <div class="col-md-6">
                  <div class="media align-items-center">
                    <div class="square-72 d-block mr-8">
                      <img src="{% static 'image/l2/png/featured-job-logo-4.png' %}" alt="">
                    </div>
                    <div>
                      <h3 class="mb-0"><a class="font-size-6 heading-default-color" href="#"> مدیر خلاقیت </a></h3>
                      <a href="#" class="font-size-3 text-default-color line-height-2">فیسبوک</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-right pt-7 pt-md-5">
                  <div class="media justify-content-md-end">
                    <div class="image mr-5 mt-2">
                      <img src="{% static 'image/svg/icon-fire-rounded.svg' %}" alt="">
                    </div>
                    <p class="font-weight-bold font-size-7 text-hit-gray mb-0"><span
                        class="text-black-2">80-90میلیون</span> سالانه</p>
                  </div>
                </div>
              </div>
              <div class="row pt-8">
                <div class="col-md-7">
                  <ul class="d-flex list-unstyled mr-n3 flex-wrap">
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">اجیل </a>
                    </li>
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">وایرفریم </a>
                    </li>
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#"> پروتاپینگ </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-5">
                  <ul class="d-flex list-unstyled mr-n3 flex-wrap mr-n8 justify-content-md-end">
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-loaction-pin-black.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">برلین، آمریکا</span>
                    </li>
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-suitecase.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">تمام وقت</span>
                    </li>
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-clock.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">9 روز قبل </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Single Featured Job -->
          </div>
          <div class="col-xxl-9 col-xl-9 col-lg-10 mb-8" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <!-- Single Featured Job -->
            <div class="pt-9 px-xl-9 px-lg-7 px-7 pb-7 light-mode-texts bg-white rounded hover-shadow-3 ">
              <div class="row">
                <div class="col-md-6">
                  <div class="media align-items-center">
                    <div class="square-72 d-block mr-8">
                      <img src="{% static 'image/l2/png/featured-job-logo-5.png' %}" alt="">
                    </div>
                    <div>
                      <h3 class="mb-0"><a class="font-size-6 heading-default-color" href="#">مهندس نرم افزار</a></h3>
                      <a href="#" class="font-size-3 text-default-color line-height-2">اکولوس</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-right pt-7 pt-md-5">
                  <div class="media justify-content-md-end">
                    <div class="image mr-5 mt-2">
                      <img src="{% static 'image/svg/icon-fire-rounded.svg' %}" alt="">
                    </div>
                    <p class="font-weight-bold font-size-7 text-hit-gray mb-0"><span
                        class="text-black-2">80-90میلیون</span> سالانه</p>
                  </div>
                </div>
              </div>
              <div class="row pt-8">
                <div class="col-md-7">
                  <ul class="d-flex list-unstyled mr-n3 flex-wrap">
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">سی پلاس پلاس</a>
                    </li>
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">جاوا اسکریپت</a>
                    </li>
                    <li>
                      <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">ری اکت جی اس</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-5">
                  <ul class="d-flex list-unstyled mr-n3 flex-wrap mr-n8 justify-content-md-end">
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-loaction-pin-black.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">برلین، آمریکا</span>
                    </li>
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-suitecase.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">تمام وقت</span>
                    </li>
                    <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                      <span class="mr-4" style="margin-top: -2px"><img src="{% static 'image/svg/icon-clock.svg' %}" alt=""></span>
                      <span class="font-weight-semibold">9 روز قبل </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Single Featured Job -->
          </div>
        </div>
      </div>
    </section>
    <!-- featuredJobOne Area -->
    <!-- Blog area function start -->
    <div class="pt-11 pt-lg-24 pb-11 pb-lg-24">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-8 col-md-10" data-aos="fade-in" data-aos-duration="1000" data-aos-once="true">
            <!-- section-title start -->
            <div class="section-title text-center pb-lg-15 pb-8 px-xxl-10">
              <h2 class="mb-9 font-size-10">نکات مهم شغلی</h2>
              <p class="text-default-color font-size-5">زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده  </p>
            </div>
            <!-- section-title end -->
          </div>
        </div>
        <div class="row justify-content-center">
          <!-- single blog start -->
          <div class="col-xl-4 col-md-6 mb-xl-0 mb-13" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
            <!-- card start -->
            <div class="card bg-transparent border-0">
              <!-- card img start -->
              <img src="{% static 'image/l2/png/blog-img1.png' %}" class="card-img-top" alt="...">
              <!-- card img end -->
              <!-- card-body start -->
              <div class="card-body pt-11 px-0 pb-0">
                <a href="#" class="badge badge-dodger text-uppercase font-size-3 font-weight-bold px-4 py-1">رزومه نویسی</a>
                <h4><a class="card-title font-size-7 mt-8 mb-6 heading-default-color" href="#">چگونه یک رزومه کامل بسازیم که توجه را به خود جلب کند </a></h4>
                <p class="card-text mb-9 font-size-4">نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                <!-- media start -->
                <div class="media mb-5 pr-9">
                  <!-- media img start -->
                  <a href="#"><img src="{% static 'image/l2/png/blog-user-img1.png' %}" class="align-self-center circle-54 mr-3 mt-2" alt="" /></a>
                  <!-- media img start -->
                  <!-- media body start -->
                  <div class="media-body pl-4 pt-2">
                    <h6 class="mb-0"><a class="mb-0 font-size-4 font-weight-semibold heading-default-color line-height-reset" href="#">آنا فرانک</a></h6>
                    <p class="mb-0"><a class="font-size-3 text-default-color" href="#"> مدیر خلاقیت </a></p>
                  </div>
                  <!-- media body start -->
                </div>
                <!-- media end -->
              </div>
              <!-- card-body end -->
            </div>
            <!-- card end -->
          </div>
          <!-- single blog end -->
          <!-- single blog start -->
          <div class="col-xl-4 col-md-6 mb-xl-0 mb-13" data-aos="fade-up" data-aos-duration="700" data-aos-once="true">
            <!-- card start -->
            <div class="card bg-transparent border-0">
              <!-- card img start -->
              <a href="#"><img src="{% static 'image/l2/png/blog-img2.png' %}" class="card-img-top" alt="..."></a>
              <!-- card img end -->
              <!-- card-body start -->
              <div class="card-body pt-11 px-0 pb-0">
                <a href="#" class="badge badge-dodger text-uppercase font-size-3 font-weight-bold px-4 py-1">بازاریابی</a>
                <h4><a class="card-title font-size-7 mt-8 mb-6 heading-default-color" href="#">بازاریابی محدود برای دستیابی به شغل مورد نظر خود </a></h4>
                <p class="card-text mb-9 font-size-4">نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                <!-- media start -->
                <div class="media mb-5 pr-9">
                  <!-- media img start -->
                  <a href="#"><img src="{% static 'image/l2/png/blog-user-img2.png' %}" class="align-self-center circle-54 mr-3 mt-2" alt="" /></a>
                  <!-- media img start -->
                  <!-- media body start -->
                  <div class="media-body pl-4 pt-2">
                    <h6 class="mb-0"><a class="font-size-4 font-weight-semibold heading-default-color line-height-reset" href="#"> دیوید هریسون </a></h6>
                    <p class="mb-0"><a class="font-size-3 text-default-color" href="#">طراح تجربه کاربری</a></p>
                  </div>
                  <!-- media body start -->
                </div>
                <!-- media end -->
              </div>
              <!-- card-body end -->
            </div>
            <!-- card end -->
          </div>
          <!-- single blog end -->
          <!-- single blog start -->
          <div class="col-xl-4 col-md-6" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
            <!-- card start -->
            <div class="card bg-transparent border-0">
              <!-- card img start -->
              <a href="#"><img src="{% static 'image/l2/png/blog-img3.png' %}" class="card-img-top" alt="..."></a>
              <!-- card img end -->
              <!-- card-body start -->
              <div class="card-body pt-11 px-0 pb-0">
                <a href="#" class="badge badge-dodger text-uppercase font-size-3 font-weight-bold px-4 py-1">شبکه های اجتماعی</a>
                <h4><a class="card-title font-size-7 mt-8 mb-6 heading-default-color" href="#">حساب های شبکه های اجتماعی شما رزومه جدید شما</a></h4>
                <p class="card-text mb-9 font-size-4">شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. </p>
                <!-- media start -->
                <div class="media mb-5 pr-9 align-items-center">
                  <!-- media img start -->
                  <img src="{% static 'image/l2/png/blog-user-img3.png' %}" class="align-self-center circle-54 mr-3" alt="" />
                  <!-- media img start -->
                  <!-- media body start -->
                  <div class="media-body pl-4 pt-2">
                    <h6 class="mb-0"><a class="mb-0 font-size-4 font-weight-semibold heading-default-color line-height-reset" href="#">بنجامین لینکون</a></h6>
                    <p class="mb-0"><a class="font-size-3 text-default-color line-height-reset" href="#">جاوااسکریپت دولوپر</a></p>
                  </div>
                  <!-- media body start -->
                </div>
                <!-- media end -->
              </div>
              <!-- card-body end -->
            </div>
            <!-- card end -->
          </div>
          <!-- single blog end -->
        </div>
      </div>
    </div>
    <!-- Blog area function end -->
    <!-- ContentTwo Area -->
    <section class="bg-green position-relative">
      <div class="w-lg-50 ml-lg-auto">
        <!-- gallery start -->
        <div class="gallery" data-aos="fade-left" data-aos-duration="800" data-aos-delay="300" data-aos-once="true">
          <!-- this content will absolute from right and top -->
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img1.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img2.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img3.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img4.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img5.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img6.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img7.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img8.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img9.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img10.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img11.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img12.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img13.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img14.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img15.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img16.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img17.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img18.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img19.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img20.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img21.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img22.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img23.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img24.jpg' %}" alt="">
          </div>
          <div class="single-item">
            <img src="{% static 'image/l2/jpg/gallery-img25.jpg' %}" alt="">
          </div>
        </div>
        <!-- gallery end -->
      </div>
      <div class="container pos-lg-abs-c pt-11 pb-13 py-lg-0">
        <div class="row">
          <div class="col-xxl-5 col-lg-6 col-md-8 mx-auto mx-lg-0" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <!-- content-2 start -->
            <div class="content-2 pr-lg-5 pr-xl-18 pr-xxl-10 text-center text-lg-left">
              <!-- content-2 section title start -->
              <p class="text-white font-size-4 font-weight-semibold mb-8">
                آیا به دنبال یک متخصص برای شرکت خود هستید؟
              </p>
              <h2 class="font-size-9 text-white mb-8">
                از بهترین استعدادهای جهان رزومه دریافت کنید.
              </h2>
              <p class="text-white font-size-5 mb-12">
                شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
              ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز 
              </p>
              <!-- content-2 section title end -->
              <!-- content-2 btn start -->
              <a class="btn btn-white btn-h-60 text-black-2 w-180 rounded-5 text-uppercase mx-auto mx-lg-0" href="#">ارسال شغل</a>
              <!-- content-2 btn end -->
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- footer area function end -->
  </div>
{% endblock %}