{% extends "parent/base.html" %}

{% load static %}

{% block content %}
  <div class="site-wrapper overflow-hidden ">
    <!-- Header Area -->

    <!-- navbar- -->
        <!-- Login Modal -->
        <div class="modal fade form-modal" id="login" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog max-width-px-840 position-relative">
            <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper" data-dismiss="modal"><i class="fas fa-times"></i></button>
            <div class="login-modal-main bg-white rounded-8 overflow-hidden">
              <div class="row no-gutters">
                <div class="col-lg-5 col-md-6">
                  <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
                    <div class="pb-9">
                      <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
                        خوش آمدید
                      </h3>
                      <p class="mb-0 font-size-4 text-white">برای ادامه حساب خود وارد شوید
                         و مشاغل جدید را کشف کنید.</p>
                    </div>
                    <div class="border-top border-default-color-2 mt-auto">
                      <div class="d-flex mx-n9 pt-6 flex-xs-row flex-column">
                        <div class="pt-5 px-9">
                          <h3 class="font-size-7 text-white">
                            295
                          </h3>
                          <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">مشاغل جدید
                             امروز ارسال شده</p>
                        </div>
                        <div class="pt-5 px-9">
                          <h3 class="font-size-7 text-white">
                            14
                          </h3>
                          <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">شرکت های جدید
                             ثبت شده</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7 col-md-6">
                  <div class="bg-white-2 h-100 px-11 pt-11 pb-7">
                    
                    
                    <form action="https://uxtheme.net/">
                      <div class="form-group">
                        <label for="email" class="font-size-4 text-black-2 font-weight-semibold line-height-reset"> ایمیل </label>
                        <input type="email" class="form-control" placeholder="example@gmail.com" id="email">
                      </div>
                      <div class="form-group">
                        <label for="password" class="font-size-4 text-black-2 font-weight-semibold line-height-reset"> رمزعبور </label>
                        <div class="position-relative">
                          <input type="password" class="form-control" id="password" placeholder="رمزعبور را وارد کنید">
                          <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password"></a>
                        </div>
                      </div>
                      <div class="form-group d-flex flex-wrap justify-content-between">
                        <label for="terms-check" class="gr-check-input d-flex  mr-3">
                          <input class="d-none" type="checkbox" id="terms-check">
                          <span class="checkbox mr-5"></span>
                          <span class="font-size-3 mb-0 line-height-reset mb-1 d-block">به خاطرسپاری رمزعبور</span>
                        </label>
                        <a href="#" class="font-size-3 text-dodger line-height-reset"> فراموشی رمزعبور  </a>
                      </div>
                      <div class="form-group mb-8">
                        <button class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase">ورود </button>
                      </div>
                      <p class="font-size-4 text-center heading-default-color"> اکانت ندارید؟  <a href="#" class="text-primary">یک حساب کاربری رایگان ایجاد کنید</a></p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sign Up Modal -->
        <div class="modal fade form-modal" id="signup" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog max-width-px-840 position-relative">
            <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-n6 mr-lg-n6 focus-reset shadow-10" data-dismiss="modal"><i class="fas fa-times"></i></button>
            <div class="login-modal-main bg-white rounded-8 overflow-hidden">
              <div class="row no-gutters">
                <div class="col-lg-5 col-md-6">
                  <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
                    <div class="pb-9">
                      <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
                       امروز یک حساب کاربری رایگان ایجاد کنید
                      </h3>
                      <p class="mb-0 font-size-4 text-white">حساب خود را برای ادامه ایجاد کنید
                         و مشاغل جدید را کشف کنید.</p>
                    </div>
                    <div class="border-top border-default-color-2 mt-auto">
                      <div class="d-flex mx-n9 pt-6 flex-xs-row flex-column">
                        <div class="pt-5 px-9">
                          <h3 class="font-size-7 text-white">
                            295
                          </h3>
                          <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">مشاغل جدید
                             امروز ارسال شده</p>
                        </div>
                        <div class="pt-5 px-9">
                          <h3 class="font-size-7 text-white">
                            14
                          </h3>
                          <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">شرکت های جدید
                             ثبت شده</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7 col-md-6">
                  <div class="bg-white-2 h-100 px-11 pt-11 pb-7">
                    
                    
                    <form action="https://uxtheme.net/">
                      <div class="form-group">
                        <label for="email2" class="font-size-4 text-black-2 font-weight-semibold line-height-reset"> ایمیل </label>
                        <input type="email" class="form-control" placeholder="example@gmail.com" id="email2">
                      </div>
                      <div class="form-group">
                        <label for="password2" class="font-size-4 text-black-2 font-weight-semibold line-height-reset"> رمزعبور </label>
                        <div class="position-relative">
                          <input type="password" class="form-control" id="password2" placeholder="رمزعبور را وارد کنید">
                          <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password2"></a>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="password23" class="font-size-4 text-black-2 font-weight-semibold line-height-reset"> تایید رمزعبور </label>
                        <div class="position-relative">
                          <input type="password" class="form-control" id="password23" placeholder="رمزعبور را وارد کنید">
                          <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password23"></a>
                        </div>
                      </div>
                      <div class="form-group d-flex flex-wrap justify-content-between mb-1">
                        <label for="terms-check2" class="gr-check-input d-flex  mr-3">
                          <input class="d-none" type="checkbox" id="terms-check2">
                          <span class="checkbox mr-5"></span>
                          <span class="font-size-3 mb-0 line-height-reset d-block"> موافقت با  <a href="#" class="text-primary"> قوانین و مقررات  </a></span>
                        </label>
                        <a href="#" class="font-size-3 text-dodger line-height-reset"> فراموشی رمزعبور  </a>
                      </div>
                      <div class="form-group mb-8">
                        <button class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase">ثبت نام </button>
                      </div>
                      <p class="font-size-4 text-center heading-default-color"> اکانت ندارید؟  <a href="#" class="text-primary">یک حساب کاربری رایگان ایجاد کنید</a></p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- jobDetails-section -->
    <div class="jobDetails-section bg-default-1 pt-28 pt-lg-27 pb-xl-25 pb-12">
      <div class="container">
        <div class="row justify-content-center">
          <!-- back Button -->
          <div class="col-xl-10 col-lg-11 mt-4 ml-xxl-32 ml-xl-15 dark-mode-texts">
            <div class="mb-9">
              <a class="d-flex align-items-center ml-4" href="dashboard-main.html"> <i
              class="icon icon-small-right bg-white circle-40 mr-5 font-size-7 text-black font-weight-bold shadow-8">
            </i><span class="text-uppercase font-size-3 font-weight-bold text-gray">برگشت به صفحه مشاغل</span></a>
            </div>
          </div>
          <!-- back Button End -->
          <div class="col-xl-9 col-lg-11 mb-8 px-xxl-15 px-xl-0">
            <div class="bg-white rounded-4 border border-mercury shadow-9">
              <!-- Single Featured Job -->
              <div class="pt-9 pl-sm-9 pl-5 pr-sm-9 pr-5 pb-8 border-bottom border-width-1 border-default-color light-mode-texts">
                <div class="row">
                  <div class="col-md-6">
                    <!-- media start -->
                    <div class="media align-items-center">
                      <!-- media logo start -->
                      <div class="square-72 d-block mr-8">
                        <img src="{% static 'image/l2/png/featured-job-logo-1.png' %}" alt="">
                      </div>
                      <!-- media logo end -->
                      <!-- media texts start -->
                      <div>
                        <h3 class="font-size-6 mb-0"> طراح محصول </h3>
                        <span class="font-size-3 text-gray line-height-2">ایراندبی</span>
                      </div>
                      <!-- media texts end -->
                    </div>
                    <!-- media end -->
                  </div>
                  <div class="col-md-6 text-right pt-7 pt-md-0 mt-md-n1">
                    <!-- media date start -->
                    <div class="media justify-content-md-end">
                      <p class="font-size-4 text-gray mb-0">19 مهر 1399</p>
                    </div>
                    <!-- media date end -->
                  </div>
                </div>
                <div class="row pt-9">
                  <div class="col-12">
                    <!-- card-btn-group start -->
                    <div class="card-btn-group">
                      <a class="btn btn-green text-uppercase btn-medium rounded-3 w-180 mr-4 mb-5" href="#">ارسال درخواست شغل</a>
                      <a class="btn btn-outline-mercury text-black-2 text-uppercase h-px-48 rounded-3 mb-5 px-5" href="#">
                        <i class="icon icon-bookmark-2 font-weight-bold mr-4 font-size-4"></i> ذخیره شغل</a>
                    </div>
                    <!-- card-btn-group end -->
                  </div>
                </div>
              </div>
              <!-- End Single Featured Job -->
              <div class="job-details-content pt-8 pl-sm-9 pl-6 pr-sm-9 pr-6 pb-10 border-bottom border-width-1 border-default-color light-mode-texts">
                <div class="row mb-7">
                  <div class="col-md-4 mb-md-0 mb-6">
                    <div class="media justify-content-md-start">
                      <div class="image mr-5">
                        <img src="{% static 'image/svg/icon-dolor.svg' %}" alt="">
                      </div>
                      <p class="font-weight-semibold font-size-5 text-black-2 mb-0">80-90میلیون سالانه </p>
                    </div>
                  </div>
                  <div class="col-md-4 pr-lg-0 pl-lg-10 mb-md-0 mb-6">
                    <div class="media justify-content-md-start">
                      <div class="image mr-5">
                        <img src="{% static 'image/svg/icon-briefcase.svg' %}" alt="">
                      </div>
                      <p class="font-weight-semibold font-size-5 text-black-2 mb-0">تمام وقت</p>
                    </div>
                  </div>
                  <div class="col-md-4 pl-lg-0">
                    <div class="media justify-content-md-start">
                      <div class="image mr-5">
                        <img src="{% static 'image/svg/icon-location.svg' %}" alt="">
                      </div>
                      <p class="font-size-5 text-gray mb-0"> یک آدرس فرضی در <br class="d-md-none d-lg-block d-block">
                                            این محل قرار دارد</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 mb-lg-0 mb-10">
                    <div class="">
                      <span class="font-size-4 d-block mb-4 text-gray">سطح شغل</span>
                      <h6 class="font-size-5 text-black-2 font-weight-semibold mb-9">مدیر پروژه</h6>
                    </div>
                    <div class="tags">
                      <p class="font-size-4 text-gray mb-0">مهارت ها</p>
                      <ul class="list-unstyled mr-n3 mb-0">
                        <li class="d-block font-size-4 text-black-2 mt-2">
                          <span class="d-inline-block mr-2">•</span>اسلک
                        </li>
                        <li class="d-block font-size-4 text-black-2 mt-2">
                          <span class="d-inline-block mr-2">•</span>انگلیسی
                        </li>
                        <li class="d-block font-size-4 text-black-2 mt-2">
                          <span class="d-inline-block mr-2">•</span>منظم بودن
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 pr-lg-0 pl-lg-10 mb-lg-0 mb-8">
                    <div class="">
                      <span class="font-size-4 d-block mb-4 text-gray">نوع شرکت</span>
                      <h6 class="font-size-5 text-black-2 font-weight-semibold mb-9">B2B و B2C</h6>
                    </div>
                    <div class="tags">
                      <p class="font-size-4 text-gray mb-3">مهارت های فنی</p>
                      <ul class="d-flex list-unstyled flex-wrap pr-sm-25 pr-md-0">
                        <li class="bg-regent-opacity-15 mr-3 h-px-33 text-center flex-all-center rounded-3 px-5 font-size-3 text-black-2 mt-2">
                         ویرایش
                        </li>
                        <li class="bg-regent-opacity-15 mr-3 h-px-33 text-center flex-all-center rounded-3 px-5 font-size-3 text-black-2 mt-2">
                          وایرفریم کشیدن
                        </li>
                        <li class="bg-regent-opacity-15 mr-md-0 mr-3 h-px-33 text-center flex-all-center rounded-3 px-5 font-size-3 text-black-2 mt-2">
                          ایکس دی
                        </li>
                        <li class="bg-regent-opacity-15 mr-3 h-px-33 text-center flex-all-center rounded-3 px-5 font-size-3 text-black-2 mt-2">
                          پرسونا کاربر
                        </li>
                        <li class="bg-regent-opacity-15 mr-3 h-px-33 text-center flex-all-center rounded-3 px-5 font-size-3 text-black-2 mt-2">
                          اسکچ
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 pl-lg-0">
                    <div class="">
                      <span class="font-size-4 d-block mb-4 text-gray">اندازه شرکت</span>
                      <h6 class="font-size-5 text-black-2 font-weight-semibold mb-0">11-50 کارمند </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="job-details-content pt-8 pl-sm-9 pl-6 pr-sm-9 pr-6 pb-10 light-mode-texts">
                <div class="row">
                  <div class="col-xl-11 col-md-12 pr-xxl-9 pr-xl-10 pr-lg-20">
                    <div class="">
                      <p class="mb-4 font-size-4 text-gray">توضیحات شغلی</p>
                      <p class="font-size-4 text-black-2 mb-7">شرکت گوبگو سریعاً ارائه دهنده راه حل های پیام رسانی و بازرگانی برای فروشندگان خودرو است
                         تغییر آینده چگونگی پیدا کردن ، خرید و سرویس دهی مردم به وسایل نقلیه. </p>
                    </div>
                    <div class="">
                      <span class="font-size-4 font-weight-semibold text-black-2 mb-7">نقش شما:</span>
                      <p class="font-size-4 text-black-2 mb-7">ما به دنبال یک فرد پرشور برای طراحی محصولات زیبا و کاربردی برای خود هستیم
                         مشتریان . ما بسیار سریع حرکت می کنیم و از شما انتظار می رود که به یک تیم توسعه محصول با عملکرد متقابل کمک کنید ،
                         که شامل مدیران و توسعه دهندگان محصولات است ، تا UX و UI را برای زندگی در اختیار تیم قرار دهد.</p>
                      <p class="font-size-4 text-black-2 mb-7">ما در مورد کار از راه دور جدی هستیم. از هرجایی می توانید برای آن کار کنید.</p>
                      <span class="font-size-4 font-weight-semibold text-black-2 mb-7">آنچه انجام می دهید:</span>
                      <ul class="list-unstyled">
                        <li class="d-block font-size-4 text-black-2 d-flex flex-row mt-2">
                          <span class="d-inline-block mr-7">•</span>در کنترل های جدید یا پیشرفت های طراحی در ما سهیم شوید
                        </li>
                        <li class="d-block font-size-4 text-black-2 d-flex flex-row mt-1">
                          <span class="d-inline-block mr-7">•</span>مالکیت موفقیت تحویل ویژگی ها باشید
                        </li>
                        <li class="d-block font-size-4 text-black-2 d-flex flex-row mt-1">
                          <span class="d-inline-block mr-7">•</span>به تعیین و دستیابی به اهداف سه ماهه کمک کنید
                        </li>
                        <li class="d-block font-size-4 text-black-2 d-flex flex-row mt-1">
                          <span class="d-inline-block mr-7">•</span>با یک تن پیشرفت و ویژگی های محصول روبرو شوید
                        </li>
                      </ul>
                      <a class="btn btn-green text-uppercase btn-medium w-180 h-px-48 rounded-3 mr-4 mt-6" href="#">ارسال درخواست شغل</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   {% endblock %} 